
/*//////////////////////
        Fuentes
//////////////////////*/
/* Fuentes de Google Fonts para todo el documento */
body{
    font-family: 'Souce Sans Pro', sans-serif;
}
/* Mofificacion de los H2 para los titulos de las secciones Novedades y Mas vendidos*/
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
    margin: 30px 0 80px;
    padding-top: 70px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}

/*//////////////////////
        Menu
//////////////////////*/

/* Separacion del menu*/
.navbar{
    padding: 20px;
}
/* Separacion entre elementos del menu*/
.nav ul li{
    margin-right: 20px;
}
/* Tamaño del Icono menu hamburguesa */
.navbar-toogler {
    font-size: 40px;
}

/*//////////////////////
        Cabecera
//////////////////////*/


/*Definimos tamaño del container*/
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* Texto cabecera h1*/
.col-6 h1{
    margin: 25px 0px;
}
/* Texto cabecera parrafo*/
.col-6 p{
    margin: 25px 0px;
}

/*//////////////////////
        Categorias
//////////////////////*/

/* subtitulos de categoria y footer*/
.sub-title h3{
    font-size: 30px;
    max-width: 1080px;
    margin: 50px auto;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #ffe4bf;
    text-align: center;
}

/*//////////////////////
        Productos
//////////////////////*/

/* Categorias*/ 
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* Nombre de cada categoria */
.titulo-categoria h4{
    position: relative;
    top:  -5px;
    text-align: center;
    color: white;
    background-color: black;
    
}


/* //////////////////////
Carrusel Ofertas / Mas vendidas
////////////////////// */

/* Propiedades del carrusel */
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
/* Propiedades del item */
.carousel .carousel-item {
	min-height: 330px;
	text-align: center;
	overflow: hidden;
}
/* Propiedades de la caja de imagen del item */
.carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
/* Propiedades de la foto del item */
.carousel .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
/* Nombre del item */
.carousel .carousel-item h4 {
	font-size: 18px;
	margin: 10px 0;
}
/* Boton de compra del item */
.carousel .carousel-item .btn {
	color: #333;
	border-radius: 0;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #ccc;
	padding: 5px 10px;
	margin-top: 5px;
	line-height: 16px;
}
/* Cambio de color del boton compra con focus */
.carousel .carousel-item .btn:hover, .carousel .carousel-item .btn:focus {
	color: #fff;
	background: #000;
	border-color: #000;
	box-shadow: none;
}
.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
/* Propiedades del contenedor del item */
.carousel .thumb-wrapper {
	text-align: center;
}
.carousel .thumb-content {
	padding: 15px;
}
/* Botones de control adelante / atras del carrusel */
.carousel-control-prev, .carousel-control-next {
	height: 100px;
	width: 40px;
	background: none;
	margin: auto 0;
	background: rgba(0, 0, 0, 0.2);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 30px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -16px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -3px;
}
.carousel-control-next i {
	margin-right: -3px;
}
/* Precios del item */
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
/* Precio anterior del item */
.carousel .item-price strike {
	color: #999;
	margin-right: 5px;
}
/* Precio actual del item */
.carousel .item-price span {
	color: black;
	font-size: 110%;
}
/* Indicador del numero de pagina del carrusel */	
.carousel .carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
/* Estrellas de valoracion del item */
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: black;
}

/*//////////////////////
        Ventajas
//////////////////////*/

/* Borde superior e inferior*/
.advantage .row{
    border-bottom: 1px solid #ececec;
    border-top: 1px solid #ececec;
    padding: 1.5em 0;
    text-align: left;
}
/* margen para los iconos de fontawesome */
.advantage .fa{
    margin-right: 6px;    
}
/* Modificar color de los ementos */
.col-6 .adv-element{
    color: rgb(165, 160, 160);
}

/*//////////////////////
        Footer
//////////////////////*/

/* Footer bg color negro*/
footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
/* Cambiar color parrafos*/
footer p{
    color: #8a8a8a;
}
/* Modificar color y margen h3*/
footer h4{
    color: #fff;
    text-align: center;
}
/* Eliminar botones de los items de la lista */
footer ul{
    list-style-type: none;
}